@import url();

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #FFFF;
}

.login-box {
    position: relative;
    width: 450px;
    height: 450px;
    background: #008000;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 2em;
    color: #FFFF;
    text-align: center;
}

.input-box {
    position: relative;
    width: 350px;
    margin: 35px 0;
    border-bottom: 2px solid #FFFF;
    align-items: center;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #FFFF;
    pointer-events: none;
    transition: 1s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px; 
}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #FFFF;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    color: #FFFF;
    font-size: 1.2em;
    line-height: 57px;
}

